@use './scss/style.scss'; 
@use '/src/scss/utils/function' as fn;
$base-font: 'Nexa', san-serif;

html{
    font-family: $base-font;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    p{
        font-size: fn.rem(24) ;
        line-height: 1.6rem;
    
    }
    h1{
        font-weight: 700;
    }
}

@media( width < 500px){
    *{
        p{
            font-size: fn.rem(18) ;
        }
    }
}

@media (width < 1025 ) {
    *{
        p{
            font-size: fn.rem(18);
        }
    }
}


